body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#select_lang {
    width: 100px;
    float: left;
}

#convert {
    float: left;
    margin-left: 20px;
}

#log-out,#delete-account {
    float: right;
    margin-bottom: 20px;
    margin-left: 10px;
}

.formula-btn {
    float:right;
    margin-left: 5px;
}

.formula {
    margin-bottom: 20px;
}
