doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    meta(name='api-uri', content=apiUri)
  body
    block content
  script(src="/javascripts/built/bundle.js")
  script(src="/javascripts/jquery.js")
  script(src="/javascripts/html2canvas.js")
  script(src="/javascripts/bootstrap.js")
  script(src="/javascripts/FileSaver.min.js")
